<h1>{{title}}</h1>
    <ul>
    <li *ngFor="let user of users">
        {{user.id}} - {{user.userName}}
    </li>
    <li>test 1</li>
    <li>test 3</li>
</ul>
<div class="container">
  <h1>My new app</h1>
  
  <div class="card">
    <div class="card-header">
       <h5 class="card-title">List Users</h5>
    </div>
    <div class="card-body">
     <!-- <h5 class="card-title">Special title treatment</h5> -->
      <ul>
    <li *ngFor="let user of users">
        {{user.id}} - {{user.userName}}
    </li>
    <li>test 1</li>
    <li>test 3</li>
</ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>