<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dating App</a>
        
      @if (accountServices.currentUser()) {
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link "  href="#">Matches</a>
            </li>
              <li class="nav-item">
              <a class="nav-link "  href="#">Lists</a>
            </li>
              <li class="nav-item">
              <a class="nav-link "  href="#">Messages</a>
            </li>  
            
            <li class="nav-item">
              <a class="nav-link text-danger"  href="#" (click)="logout()">Logout</a>
            </li>
          </ul>
      }


      @if (accountServices.currentUser()) {
          <div dropdown class="btn-group" > 
            <button type="button" class="btn btn-info ">Welcome {{model.username}}</button>
             <button id="button-split" type="button" dropdownToggle class="btn btn-info dropdown-toggle dropdown-toggle-split"
                      >
                <span class="caret"></span>
                <span class="sr-only visually-hidden">Split button!</span>
              </button>
              <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item">Privacy/Consent</a></li>
                <li role="menuitem"><a class="dropdown-item" >Edit Profile</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Perferences</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item text-danger" (click)="logout()">Logout</a>
                </li>
              </ul>
          </div>
      }

            @if (!accountServices.currentUser()) {
               <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="on" >
                        <input name="username" class="form-control me-2" placeholder="Username"
                        [(ngModel)]="model.username"  aria-label="attr.Username">
                        <input name="password" class="form-control me-2" 
                    [(ngModel)]="model.password" placeholder="Password" type="password" aria-label="attr.password">

                 <button class="btn btn-outline-success" type="submit">Login</button>
               </form>
              }
   

      </div>
  </nav>
